<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">About Me</span></h1>
            <!-- <p data-i18n="about_me.under_about_me"></p> -->
        </div>
    </div>
    <div class="row">
        <!-- linux -->
        <div class="col-xs-4 wow fadeInLeft">
            <div class="team-member">
                <img src="/static/img/landing/kotlin_logo.png" height="60" width="60" style="margin-top: 15px;">
            </div>
        </div>
        <!-- avatar -->
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ site.author.head_img | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">{{ site.author.last_name }} {{ site.author.first_name }}</span></h4>
                <ul class="list-inline social-icon">
                    </li>
                    <li><a href="https://twitter.com/{{site.author.twitter_username}}" target="blank" style="margin-bottom: 5px"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank" style="margin-bottom: 5px"><i class="fab fa-github"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank" style="margin-bottom: 5px"><i class="fab fa-facebook"></i></a>
                    <li><a href="mailto:{{ site.author.email }}" style="margin-bottom: 5px"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- html -->
        <div class="col-xs-4 wow fadeInRight">
            <div class="team-member">
                <a href="https://kt.academy/">
                <img src="https://kt.academy/logo.png" height="60" width="60" style="margin-top: 15px;">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>
            <div class="navy-line"></div>
            <h1><span data-i18n="jetbrains.title"></span></h1>
            <p><span data-i18n="jetbrains.des"></span></p>
            <img src="static/img/landing/JetBrains_certified_Kotlin_Training.png" class="img-responsive img-big" style="width: 300px;padding-top: 30px; margin: 0 auto;" alt="Training certified by JetBrains">
        </div>
    </div>
</div>