<div class="container" id="i18_projects">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="books.title">Books</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="wow zoomIn">
            <span class="team-member" >
                <a href="https://www.packtpub.com/application-development/android-development-kotlin" target="_blank" >
                    <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcR4KKE0qlk29I1AcnAFa0AV20pD5GTQ3Pbe9acfcvVW31Z2myPg" class="img-responsive img-big" style="width: 350px;padding-top: 0px;padding-bottom: 50px;" alt="">
                </a>
            </span>
        </div>
    </div>
</div>
