---
layout: default
---
 
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                    	{% for category in page.categories %}
                        	<button class="btn btn-white btn-xs" type="button">{{ category }}</button>
                        {% endfor %}
                    </div>
                    <div class="text-center article-title">
                    <span class="text-muted"><i class="fa fa-clock-o"></i> {{ page.date | date: "%-d %b %Y" }}</span>
                        <h1>
                            {{ page.title }}
                        </h1>
                    </div>
                    	{{ content }}
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                                <h5 style="display: inline;">Tags:</h5>
                                {% for tag in page.tags %}
                                    <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="row" style="font-size: x-large; text-align: center;">
                        <a href="https://marcinmoskala.typeform.com/to/r5XMEd">I love feedback :) Click here - it will take only 2 minutes.</a>
                    </div>
                    <br>
                    {% include talkyard-comments.html %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>